<html>

<head>
    <title>Signup page</title>
    <% include ../../partials/head %>
</head>

<body>
    <section class="stage slds-grid slds-grid--vertical slds-nowrap">
        <header>
            <% include ../../partials/header %>
        </header>

        <div class="slds-shrink-none">
            <div class="slds-page-header">
                <h2 class="slds-text-heading--medium">Signup</h2>
            </div>
        </div>

        <div class="slds-form slds-form_stacked slds-grid slds-grid_align-center slds-m-top_medium">
            <div class="slds-card slds-col slds-size_2-of-6">

                <form autocomplete="off" action="#" action="user/signup" method="post" class="slds-m-around_small" role="form">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="name">First name</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="name" name="user[name]" placeholder="Name" class="slds-input" value="<%= user.name %>">
                        </div>
                    </div>

                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="lastname">Last name</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="lastname" name="user[lastname]" placeholder="Last Name" class="slds-input" value="<%= user.lastname %>"/>
                        </div>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="email">Email</label>
                        <div class="slds-form-element__control">
                            <input type="text" id="email" name="user[email]" placeholder="Email" class="slds-input" value="<%= user.email %>"/>
                        </div>
                    </div>
                    <div class="slds-form-element">
                        <label class="slds-form-element__label" for="password">Password</label>
                        <div class="slds-form-element__control">
                            <input type="password" id="password" name="user[password]" placeholder="Password" class="slds-input" value="<%= user.password %>"/>
                        </div>
                    </div>

                    <div class="slds-form-element">
                        <button type="submit" class="slds-button slds-button_brand">Register</button>
                    </div>

                    <!--<span th:utext="${successMessage}"></span>-->
                    <hr class="slds-m-around_x-small">
                    <% if(errors.length > 0){ %>
                    <ul>
                        <% errors.forEach(function( err){ %>
                        <li class="slds-text-color_error">
                            <label>
                                * <%= err.msg %>
                            </label>
                        </li>
                        <% }) %>
                    </ul>
                    <hr class="slds-m-around_x-small">
                    <%}%>
                    <a href="/user/login">Login</a>

                </form>

            </div>
        </div>

        <footer>
            <% include ../../partials/footer %>
        </footer>
    </section>
</body>

</html>